{% extends 'base.html' %}
{% block content %}

<h1>{{profile_user.profile.bio}}'s Profile</h1>
{% if profile_user.first_name and profile_user.last_name %}
  <h3>Name:</h3>
  <p>{{profile_user.first_name}} {{profile_user.last_name}}</p>
{% endif %}
{% if profile_user.email %}
  <h3>email:</h3>
  <p>{{ profile_user.email }}</p>
{% endif %}
<h3>Category:</h3>
<p> {{ profile_user.profile.category }}</p>
<h3>Bio:</h3>
<p> {{ profile_user.profile.bio }}</p>
{% for job in listed_jobs %}
  {% if listed_job.is_active or listed_job.client == user %}
    <div class="job-card">
      <div class="card-header">
        <a href="{% url 'jobs_detail' pk=job.id %}">
          {{job.job_title}}
        </a>
      </div>
      <div class="card-body">{{job.description}}</div>
      <div class="card-footer">{{job.reward}}</div>
    </div>
  {% endif %}
{% endfor %}
{% if user.is_authenticated and user.id == profile_user.id %}
{% for job in working_jobs %}
    <div class="job-card">
      <div class="card-header">
        <a href="{% url 'jobs_detail' pk=job.id %}">
          {{job.job_title}}
        </a>
      </div>
      <div class="card-body">{{job.description}}</div>
      <div class="card-footer">{{job.reward}}</div>
    </div>
{% endfor %}
<a href="{% url 'profiles_edit' %}"><button>Edit Profile</button></a>
{% endif %}
{% endblock %}