{% extends 'base.html' %}
{% block content %}
<form action="{% url 'profiles_edit' %}" method="POST">
  {% csrf_token %}
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name" value="{{profile_user.first_name}}">
  <label for="first_name">Last Name</label>
  <input type="text" name="last_name" id="last_name" value="{{profile_user.last_name}}">
  <label for="bio">Bio</label>
  <textarea name="bio" id="bio" value="{{profile_user.bio}}"></textarea>
  <button type="submit">Edit Profile</button>
</form>
{% endblock %}